html {
    background-image: url("https://localhost:5050/Static/Image/blurstar.png");
    background-size: 30px;
}

body {
    /* background-color: #faeeef; */
    color: rgb(0, 0, 0);
    font-family: monospace;
    font-size: 15px;
}

.star {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 10px;
    border: 3px dashed rgb(255 210 233);
}

a {
    text-decoration: none;
    font-size: 1.15rem;
    font-family: monospace;
    font-weight: bold;
    color: rgb(233, 69, 154);
}

.endofpost {
    margin-bottom: 40px;
    text-align: right;
}

hr {
    height: 2px;
    border-width: 0;
    color: rgb(245, 181, 214);
    background-color: rgb(245, 181, 214);
}

.container {
    width: 90%;
    margin: 0 auto;
    min-height: 100vh;
    background-color: pnik;
}

.contentpost {
    display: flex;
    justify-content: center;
}

.post {
    margin-bottom: 40px;
    border: 3px dashed rgb(255 210 233);
    min-width: 600px;
    max-width: 600px;
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(245 181 214 / 10%)
}

.title,
.content {
    text-align: center;
    line-break: anywhere;
}

.content {
    margin-bottom: 10px;
}

.viewbtn {
    text-align: right;
    color: grey;
    float: right;
}

header {
    display: flex;
    justify-content: space-between;
}

.navButton {
    background-color: white;
    padding: 20px 40px;
    margin-top: 10px;
}

main {
    min-height: 80vh;
    /* background-color: rgba(137, 43, 226, 0);
    background-color: purple; */
}

.formAuth {
    min-height: 20vh;
    margin-top: 9% !important;
}


input[type="radio"],
input[type="checkbox"] {
    accent-color: rgb(233, 69, 154);
}

button {
    background-color: rgb(255, 255, 255);
    color: rgb(233, 69, 154);
    border: 3px dashed rgb(255 210 233);
    width: 100%;
    padding: 0.75rem;
    font-size: 1.25rem;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
    border-radius: 10px;
    font-weight: bold;
}

.headerLeft {
    position: fixed;
    right: 0;
    margin-right: 1.5%;
}

.navButton {
    border: 3px dashed rgb(255 210 233);
    margin-bottom: 10px;
    border-radius: 10px;
}

.inputContainer {
    background: rgba(255, 255, 255, 0.9);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1.5s ease-in-out;
}

.signin-form {
    width: 300px;
}

h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 2rem;
    color: #333;
    font-weight: bold;
}

.input-group {
    margin-bottom: 1rem;
}

.input-group label {
    display: block;
    font-size: 1rem;
    color: #333;
    margin-bottom: 0.5rem;
}

.input-group input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    transition: border 0.3s;
}

.input-group input:focus {
    border: 1px solid rgb(233, 69, 154);
    ;
    outline: none;
}

button:hover {
    transform: scale(1.05);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Adjusted CSS to match the provided HTML structure */

.formAuth {
    width: 300px;
    /* Adjust as needed */
    margin: 0 auto;
    /* Centers the form */
    background: rgba(255, 255, 255, 0.9);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1.5s ease-in-out;
}

.formAuth label {
    display: block;
    font-size: 1rem;
    color: #333;
    margin-bottom: 0.5rem;
}

.formAuth input[type="email"],
.formAuth input[type="password"],
.formAuth input[type="text"] {
    width: calc(100% - 22px);
    /* Adjust as needed */
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    transition: border 0.3s;
}

.formAuth input[type="email"]:focus,
.formAuth input[type="password"]:focus,
.formAuth input[type="text"]:focus {
    border: 1px solid rgb(233, 69, 154);
    ;
    outline: none;
}

.formAuth button[type="submit"],
.sameAsLog {
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 5px;
    background: rgb(233, 69, 154);
    ;
    color: white;
    font-size: 1.25rem;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
    margin-top: 1rem;
    /* Adjust as needed */
}

.formAuth button[type="submit"]:hover,
.sameAsLog:hover {
    background: rgb(233, 69, 154);
    ;
    transform: scale(1.05);
}

.formAuth p {
    text-align: center;
    margin-top: 1rem;
    /* Adjust as needed */
}

.formAuth a {
    color: rgb(233, 69, 154);
    ;
    text-decoration: none;
}

.formAuth a:hover {
    text-decoration: underline;
}

.catStr{
    text-align: right;
    float: right;
}

.pinkspan{
    color: white;
    font-size: 1rem;
    font-weight: bold;
    color: rgb(233, 69, 154);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fixed-size-textarea {
    width: 575px;
    height: 75px;
    resize: none;
    margin-bottom: 10px;
    margin-top: 5px;
}

.commentlab {
    font-size: 15px;
}

.postText {
    height: 200px;
    width: 296px;
    resize: none;
    margin-bottom: 10px;
    margin-top: 5px;
    border-radius: 10px;
}

#license {
    color: rgb(233, 69, 154);
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1rem;
}

.MenuB {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 15px; 
    right: 20px;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color:rgb(233, 69, 154);
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

#CatForm label{
    font-size: 15px;
    color: rgb(233, 69, 154);
    font-weight: bold;
}

.additional-buttons {
    display: none;
    position: absolute;
    right: 0;
    padding: 25px;
    margin-right: 20px;
    margin-top: 30px;
}
.fa-filter {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 12px; 
    right: 80px;
}


#CatForm {
    position: absolute;
    right: 0;
    padding: 50px;
    margin-right: 20px;
    margin-top: 30px;
}

.show {
    display: block !important;
}


#cats {
    display: none; /* Initially hide cats */
}


@media only screen and (max-width: 1000px) {
    .post{
        max-width: 400px;
        min-width: 400px;
    }

    body{
        font-size: 10px;
    }

    .fixed-size-textarea{
        width: 400px;
    }
}


@media only screen and (max-width: 850px) {
    .post{
        max-width: 200px;
        min-width: 200px;
    }

    body{
        font-size: 8px;
    }
    .fixed-size-textarea{
        width: 190px;
    }

    input[type=radio] {
        border: 0px;
        width: 100%;
        height: 1em;
    }
}

