body{
    background-color: rgb(233, 24, 233);
    color: white;
}

.container{
    width: 90%;
    margin: 0 auto;
    min-height: 100vh;
    background-color: pnik;
}

.contentpost {
    display: flex;
    justify-content: center;
}

.post {
    margin-bottom: 40px;
}

header{
    display: flex;
    justify-content: space-between;
}

.navButton{
    background-color: white;
    padding: 20px 40px;
}

main{
    min-height: 80vh;
    background-color: purple;
}


.formAuth {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}