<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/normalize.css">
    <link rel="stylesheet" href="Static/CSS/Main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script>
        // Initialize initialPosts as an empty array
        let initialPosts = [];
        let likedPosts = [];

        let useridentification = {{.U_id}};
        
        // Populate initialPosts with data from Go template
        {{range .FilteredPosts}}
        initialPosts.push({
            ID: {{.ID}},
            U_ID: {{.U_ID}},
            Title: "{{.Title}}",
            Post: "{{.Post}}",
            Username: "{{.Username}}",
            Cat1: {{.Cat1}},
            Cat2: {{.Cat2}},
            Cat3: {{.Cat3}},

            Comments : [
                {{range .Comments}}
                {
                    ID: {{.ID}},
                    U_ID: {{.U_ID}},
                    P_ID: {{.P_ID}},
                    Comment: "{{.Comment}}",
                    Likes: {{.Likes}},
                    Dislikes: {{.Dislikes}},
                    Username: "{{.Username}}"
                },
                {{end}}
            ],
            Likes: "{{.Likes}}",
            Dislikes: "{{.Dislikes}}"
        });
        {{end}}


    </script>

    <title>Document</title>
</head>
<body>
    <div class="container">
        <header>
            <a href="#"  onclick="changeContent('home')">
                <img class="star"  src="Static/Image/Star.jpg" alt="">
            </a>
                <div id="fbtn" class="fbtn">
                    <i id="footerbutton" class="fa fa-filter" style="font-size: 45px; color:rgb(233, 69, 154);" onclick="toggleFilter()"></i>
                </div>
                <div id="cats"></div>
                {{if eq .Authlevel 0}}
                <a href="#" onclick="changeContent('login')">
                    <div class="navButton logInStyle"  style="margin-right: 35px;">Login</div>
                </a>
                {{else}}
                <div class="MenuB" onclick="toggleButtons(this)">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </div>
                <div class="additional-buttons" id="additionalButtons">
                    <!-- Your additional buttons here -->
                    <a href="#" onclick="changeContent('profile')">
                        <div class="navButton">Profile</div>
                    </a>
                    <a href="#" onclick="changeContent('addpost')">
                        <div class="navButton">Create Post</div>
                    </a>          
                    <a href="#" onclick="changeContent('likedpost')">
                        <div class="navButton">Liked post</div>
                    </a>
                    <a href="/logout">
                        <div class="navButton">Logout</div>
                    </a>
                </div>
                
                {{end}}
            
        </header>                  
        <main id="content">

        </main>

        <footer>
            <h6 id="license">Copyright (c) 2024 YMASY</h6>
        </footer>
    </div>
    <script>
        function toggleButtons(x) {
            x.classList.toggle("change");
            var buttons = document.getElementById("additionalButtons");
            buttons.classList.toggle("show");
            var cats = document.getElementById("cats");
            if (cats.classList.contains("show")) {
                cats.classList.remove("show");
            }
        }
        function toggleFilter() {
            var xx = document.querySelector(".MenuB")
            var cats = document.getElementById("cats");
            cats.classList.toggle("show");
            var menu = document.getElementById("additionalButtons");
            if (menu.classList.contains("show")) {
                menu.classList.remove("show");
                xx.classList.toggle("change");
            }
        }
    </script>      
    <script src="Static/JS/contentSwitch.js" defer></script>
    <script src="Static/JS/init.js" defer></script>
    <script src="Static/JS/viewPost.js" defer></script>
    <script src="Static/JS/userStatus.js" defer></script>
    <script src="Static/JS/updateCounters.js" defer></script>
    <script src="Static/JS/submitActions.js" defer></script>
    <script src="Static/JS/renderPosts.js" defer></script>
    <script src="Static/JS/postUtils.js" defer></script>
    <script src="Static/JS/rememberPage.js"></script>
    
</body>
</html>