<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/normalize.css">
    <link rel="stylesheet" href="static/CSS/main.css">
    <script>
        // Initialize initialPosts as an empty array
        let initialPosts = [];
        
        // Populate initialPosts with data from Go template
        {{range .FilteredPosts}}
        initialPosts.push({
            id: {{.ID}},
            u_id: {{.U_ID}},
            title: "{{.Title}}",
            post: "{{.Post}}",
            username: "{{.Username}}",
            comments : [
                {{range .Comments}}
                {
                    id: {{.ID}},
                    u_id: {{.U_ID}},
                    post_id: {{.P_ID}},
                    comment: "{{.Comment}}"
                },
                {{end}}
            ]
        });
        {{end}}
    </script>

    <title>Document</title>
</head>
<body>
    <div class="container">
        <header>
            <a href="#" onclick="changeContent('home')">
                <div class="navButton">Forum</div>
            </a>
            {{if eq .Authlevel 0}}
            <a href="#" onclick="changeContent('login')">
                <div class="navButton">Login</div>
            </a>
            {{else}}
            <a href="#" onclick="changeContent('profile')">
                <div class="navButton">Profile</div>
            </a>
            <a href="/logout">
                <div class="navButton">Logout</div>
            </a>
            <a href="#" onclick="changeContent('addpost')">
                <div class="navButton">Create Post</div>
            </a>          
            <a href="/likedpost">
                <div class="navButton">Liked post</div>
            </a>
            {{end}}
        </header>        
        <main id="content">
            <div class="contentpost">
                hello
            </div>

        </main>
        <footer>footer
            <form action="/" method="get">
                <legend>Catigories</legend>
                <label>
                    <input type="checkbox" name="cat" value="cat1"> cat1
                </label><br>
                <label>
                    <input type="checkbox" name="cat" value="cat2"> cat2
                </label><br>
                <label>
                    <input type="checkbox" name="cat" value="cat3"> cat3
                </label><br>
                <button type="submit">Filter</button>
            </form>
        </footer>
    </div>
    <script src="static/JS/contentSwitch.js"></script>
</body>
</html>